.App {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
    position: relative;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;
    overflow-y: hidden;
}

.chat-area {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: hidden;
}

